/* Використані кольори
#f8e7ba - основний колір body світло-жовтий
#5D7274 - основний колір всього тексту сірий
#EBA830 - додатковий колір яскраво-жовтий
#EE9E69 - Додаткой колір світло-оранжевий (h1,h2)
#e47450 - додатковий яскраво-оранжевий (hover,active)
#74A516 - додатковий колір зелений
#BFF08E - додатковий колір світло-зелений(footer)
*/

*{
  /*border: 1px solid;*/
  margin: 0;
  padding: 0;
}
/*-----BODY----------------------------*/
body{
  background-color: #f8e7ba;
  color:#5D7274;/*основний колір всього тексту сірий*/
  font: 14px/20px 'Caveat Brush', cursive;
  height: 100%;
  overflow: scroll;
  margin: 0;
  padding:0;
}

.wrapper {
  max-width: 1199px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  margin-top: 40px;
  background-color: white;
}

/*-----header----------------------------*/
.header{
  position: relative;
  height: 100%;
  background: url(../images2/animals_header.png);
  background-color: white;
  background-position: right top;
  background-repeat: no-repeat;
  z-index: 10;
}
.logo{
  margin: 0;
  padding: 0;
}

.row{
  width: 100%;
  margin: 0;
  padding: 0;
}

.posmishka{
  color: #EE9E69;/*Додаткой колір світло оранжевий*/
  text-transform: uppercase;
  margin-top: 0;
}

.address{
  padding-top: 22px;
}

.address a{
  color: #e47450;/*додатковий яскраво-оранжевий*/
}

/*-----navigation----------------------------*/
.nav .main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  width: 100%;
}

.nav .main-menu > li {
 position: relative;
  display:inline-block;
  margin-right: 0; 
  padding: 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.nav .main-menu a {
  display: block;
  border-left: 2px dotted #77746c;
  color: #5D7274;
  padding: 5px 10px;
  text-decoration: none;
}

.nav .main-menu a:hover {
  background: #EE9E69;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  color: white;
  border-left: 2px dotted #E47450 ;
}

.nav .main-menu .active{
  background: #EE9E69;
}

.nav .main-menu .active a{
  color: white;
  text-decoration: none;
  border-left: 2px dotted #E47450 ;
}

.nav .main-menu .dropdown-menu{
  position: absolute;
  list-style: none;
  background: #EE9E69;/*Додаткой колір світло оранжевий*/
  width: 300px;
  padding: 0;
  margin-top: -1px;
  display: none;
  z-index: 10;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.nav .main-menu .dropdown-menu a{
  color: white;
  border: none;
}

.nav .main-menu >li:hover .dropdown-menu{
  display: block;
}

.nav .main-menu .dropdown-menu a:hover{
  color: #EE9E69;
  background: white;
  border: none;
}

.nav .btn-group {
  display: none;
}

.nav .right .main-menu{
  text-align: left;
}

.nav .main-menu{
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .nav {
    position: relative;
    min-height: 40px;
  } 
  .nav .main-menu {
    width: 180px;
    padding:0px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  .nav .main-menu a{
    color:#EE9E69;
    background: white;
    border-radius: 5px;
    display: block;
    padding: 5px 5px;
  }
  .nav .main-menu > li {
    display: none; /* скрыть все <li> пункты */
    margin: 0;
  }
  .nav .main-menu .active {
    display: block; /* показывать только текущие активные <li> пункты */
  }
  .nav .main-menu .active a {
    background: #EE9E69;/*Додаткой колір світло-оранжевий */
    color: white;
  }
  .nav .main-menu >li:hover .dropdown-menu{
    display: none;
  }
  /* при наведенні на пункти меню */
  .nav .main-menu:hover {
    background:none;
  }
  .nav .main-menu:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .nav .main-menu:hover .active {
    background: 10px 7px;
  }
}

/*-----middle----------------------------*/

.middle {
  width: 100%;
  padding: 0;
  position: relative;
}

.middle:after {
  display: table;
  clear: both;
  content: '';
}

.article{
  position: relative;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  width: 100%;
  
}

.article .lessons{
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  background: #74A516;/*додатковий колір зелений*/
}

.article img{
  position: relative;
  width: 120%;
  margin: 0;
}

.two{
  background-color: white;
  color: #5D7274; /*основний колір всього тексту сірий*/
}

.two .text-center{
  color: #e47450;/*додатковий яскраво-оранжевий*/
}

aside{
  padding: 0;
  margin: 0;
}

.middle .start{
  padding: 0;
  margin: 0;
}

.middle .hero-unit{
  text-align: center;
  background-color: #EBA830;/*додатковий колір яскраво-жовтий*/
  color: white;
  padding:10px 0;
}

.Misia h3, .navchannia h3, .dly_kogo h3 {
  color: #EBA830;
}

.Misia p, .navchannia p, .dly_kogo p{
  text-align: justify;
}

.three .col-md-4 img{
  height: 250px;
  width: 260px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  left: -200px;
  transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.three .col-md-4 h2{
  color:#EE9E69; 
}

.three .col-md-4 li{
  list-style-type: none;
  color: #77746c;
}

.footer {
  background: url(../images2/footer1.png);
  background-repeat: no-repeat;
  background-color: #BFF08E;/*додатковий колір світло зелений*/
  text-align: center;
  font-size: 150%;
}