/**{
  border: 1px solid;
}*/
body, header .row, header .container, .middle{
  margin: 0;
  padding: 0;
}

/* body, wrapper, footer
-----------------------------------------------------------------------------*/
body{
  background-color: #f8e7ba;
  color:#5D7274;/*основний колір всього тексту сірий*/
  font: 14px/20px 'Caveat Brush', cursive;
  height: 100%;
  overflow: scroll;
}

.wrapper, .footer, nav, .middle{
  max-width: 1199px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
}

.wrapper {
  background-color: white;
  margin-top: 46px;
}

@media(max-width: 768px){
  .wrapper{margin-top: 0;}
}

/* header
-----------------------------------------------------------------------------*/
.header{
  background: url(../images2/aniheader.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 0;
  padding-top: 30px;
  width: 100%;
  position: relative;
  height: 200px;
  z-index: 100;
}

@media(max-width: 768px){
  .header{
    background-size: 100px;
    height: 90px;
    padding-top: 10px;
  }
}
/* Головний напис
-----------------------------------------------------------------------------*/
.txt_napus2{
  margin: 0;
  padding-left: 140px;
}

.txt_napus1 {
  margin: 0;
  padding-left: 100px;
  color: #EE9E69;/*Додаткой колір світло оранжевий*/
  text-transform: uppercase;
  margin-top: 2px;
}

.text-left{
  margin: 0;
  margin-top: 20px;
}

@media(max-width: 768px){
  .txt_napus2{
    padding-left:60px;
    font-size: 120%;}
  .txt_napus1{
    padding-left: 35px;
    font-size: 140%;}
  .text-left{
    font-size:120%;}
}

/* Контакти
-----------------------------------------------------------------------------*/
.col-sm-5 {
  margin-top:0px;
  font-size: 140%;
  padding-top: 40px;
}

.col-sm-5 a{
  color: #E47450;/*додатковий яскраво-оранжевий*/
}

@media(max-width: 768px){
  .col-sm-5{display: none;}
}

/* меню сайту
-----------------------------------------------------------------------------*/
nav{
  background: white;
  width: 100%;
  position: relative;
}

.main-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  width: 100%;
}

.main-menu > li{
  position: relative;
  display:inline-block;
  margin-right: 0;
  padding: 0 10px 0 0;
 }

.main-menu a{
  display: block;
  border-left: 2px dotted #77746c;
  color: #5D7274;
  padding: 5px;
  text-decoration: none;
}

.main-menu a:hover{
  background: #EE9E69;/*Додаткой колір світло оранжевий*/
}

.col-sm-12 .main-menu .active{
  background: #EE9E69;/*Додаткой колір світло оранжевий*/
}

.col-sm-12 .main-menu .active a{
  color: white;
  text-decoration: none;
  border-left: 2px dotted #E47450;/*додатковий яскраво-оранжевий*/
} 

.main-menu .dropdown-menu{
  position: absolute;
  list-style: none;
  background: #EE9E69;/*Додаткой колір світло оранжевий*/
  width: 300px;
  padding: 0;
  margin-top: -1px;
  display: none;
  z-index: 10;
}

.main-menu .dropdown-menu a{
  color: white;
  border: none;
}

.main-menu >li:hover .dropdown-menu{
  display: block;
}

nav .btn-group {
  display: none;
}

@media (max-width: 768px) {
  .main-menu a{
    font-size: 10px;
    border-left:0;}
  .main-menu > li{
    padding: 0px;
    margin: 0px;
    margin-right: -7px;}
  .main-menu {
    margin-left: -12px;}
  .main-menu .dropdown-menu{
    width: 220px;}
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  padding: 0px;
  position: relative;
  background: white;
  padding-top: 10px;
}

.middle:after {
  display: table;
  clear: both;
  content: '';
}

.middle .col-sm-8{
  padding: 0;
  margin:0;
  position: relative;
  font-size: 120%;
  text-align: justify;
}

article{
  color: white;
  text-align: center;
  background: #74A516;/*додатковий колір зелений*/
  padding-bottom: 20px;
}

.two{
  padding: 20px 0 40px 20px;
}

.two h2{
  color:  #E47450;
  margin-bottom: 20px;
}

.col-sm-4 img{
  height: 290px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  left: -100px;
  transition: left 5s cubic-bezier(0, 0, 1, 1);
}

.two li{
  list-style-type: none;
  color: #77746c;
  font-size: 120%;
  padding-bottom: 10px;
}

.two p{
  font-size: 120%;
}

.two ul{
  padding-left: 0;
}

@media (max-width: 768px){
  article img{
    height: 80%;
    width: 100%;}
  article .lessons{
    font-size: 80%;}
  article h3{
    font-size: 90%;}
  .two img{
    display: none;}
  .two .text-left{
    font-size: 90%;
    padding: 0;
    margin: 0;
    text-align: center;}
  .two .text-center{
    font-size: 100%;}
  .two .col-sm-3 li{
    font-size: 90%;
    padding-bottom: 3px;}
}

aside .hero-unit{
  background: #EBA830; /*додатковий колір жовтий*/
  height: 80%;
  position: relative;
  width: 100%;
  margin: 0;
  margin-left: 0;
  padding: 20px;
  position: relative;
  color: white;
  line-height: 50px;
  text-align: center;

}

aside .hero-unit:hover {
  box-shadow: 0 25px 25px -15px rgba(0,0,0, .5);
}

aside p{
  font-size: 16px;
  text-align:justify;
}

aside .muted {
  color:  #E47450;
  border-left: 2px dotted #EE9E69;
}

@media (max-width: 768px){
  .col-sm-4 aside .hero-unit{
    height: 30%;
    width: 100%;
    padding: 10px;
    line-height: 20px;}
  aside p{
    font-size: 90%;}
  aside h3{
    font-size: 120%;}
}
.footer {
  height: 200px;
  background: url(../images2/footer1.png);
  background-repeat: no-repeat;
  background-color: #BFF08E;
  text-align: center;
  font-size: 150%;
  padding-top: 50px;
}

@media(max-width: 768px){
  .footer{font-size: 90%;
    padding-top: 0;}
}
