/* Використані кольори
#f8e7ba - основний колір body світло-жовтий
#5D7274 - основний колір всього тексту сірий
#EBA830 - додатковий колір яскраво-жовтий
#EE9E69 - Додаткой колір світло-оранжевий (h1,h2)
#e47450 - додатковий яскраво-оранжевий (hover,active)
#74A516 - додатковий колір зелений
#BFF08E - додатковий колір світло-зелений(footer)
*/

*{
/*border: 1px solid;*/
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*-----BODY----------------------------*/
body{
  background-color: #f8e7ba;
  color:#5D7274;/*основний колір всього тексту сірий*/
  font: 16px/20px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  overflow: scroll;
  margin: 0;
  padding:0;
}

.wrapper {
  max-width: 1199px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0;
  margin-top: 40px;
  background-color: white;
}

.wrapper:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 5px;
  left: 0;
  top: -5px;
  background: url(../images2/bg_edge1.png) repeat-x 0 0;
}

/*-----header----------------------------*/
.header{
  position: relative;
  padding-top: 2%;
  padding-left: 1%;
  height: 100%;
  background: url(../images2/animalsHeader.png);
  background-color: white;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: 10;
}
.logo{
  margin: 0;
  padding: 0;
}

.row{
  width: 100%;
  margin: 0;
  padding: 0;
}

.posmishka{
  color: #EE9E69;/*Додаткой колір світло оранжевий*/
  text-transform: uppercase;
  margin-bottom: 2.5%;
  padding-left: 16%;
  padding-top: 0;
  margin-top: 0;
}

.small{
  padding-left: 25%;
}

.ad1 {
  margin-right: 2%;
}

.address1{
  font-size: 130%;
  padding-top: 3%;
}

.address1 a{
  color: #e47450;/*додатковий яскраво-оранжевий*/
}

@media screen and (max-width: 826px){
  .small, .posmishka{
    padding-left: 0;
  }
}

@media screen and (max-width: 770px){
  .address1 address{
    float: left;
  }
   .small{
    padding-left: 25%;
   }
  .posmishka{
    padding-left: 16%;
  } 
}

@media screen and (max-width: 484px){
  .small, .posmishka{
    padding-left: 0;
  }
}

/*-----navigation----------------------------*/
.clearfix:after{
  visibility: hidden;
  display: block;
}

* html .clearfix{
  zoom: 1;
}

*:first-child+html .clearfix{
  zoom: 1;
}

.cleaner{
  height: 0;
  line-height: 0;
  clear: both;
}

ul{
  list-style: none;
}

nav{
  display: block;
}

#nav {
  width: 100%; /* 1000 */
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-left: -1%;
  position: absolute;
}

#nav > a {
  display: none;
  color: #5D7274;/*Show navigation*/
  text-decoration: none;
}

#nav li {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#nav li a {
  display: block;
  color: #5D7274;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#nav li a:hover{
  background: #EE9E69;/*Додаткой колір світло оранжевий*/
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#nav li a:active {
  background-color: #EE9E69 !important;
}

/* колір активної кнопки на цій сторінці
#nav .active a{
  background: #EE9E69;
}*/

#nav span:after { /*трикутник на кнопці з підменю*/
  width: 0;
  height: 0;
  border: 0.313em solid transparent; /* 5 */
  border-bottom: none;
  border-top-color: #efa585;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.313em; /* 5 */
}

/* first level */
#nav > ul { /*основне меню*/
  height: auto;
  background-color:none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  width: 100%;
}

#nav > ul > li {
  width:auto; /*ширина кожного li в основному меню*/
  height: 100%;
  float: left;
  display:block;
  margin-right: 0; 
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#nav > ul > li > a {
  height: 100%;
  font-size: 18px; /* 24 */
  text-align: left;
}

#nav > ul > li:not( :last-child ) > a {
  border-right: 2px dotted #77746c;
}

#nav > ul > li:hover > a, #nav > ul:not( :hover ) > li.active > a {
  background-color: #EE9E69;
  color:white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

/* second level */
#nav li ul { /*підменю*/
  background-color:  white;
  display: none;
  position: absolute;
  top: 100%;/*на яку висоту опустити підменю*/
  padding-left: 0px;
  width: 350px;
}

#nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}

#nav li:not( :first-child ):hover ul {
  left: -1px; /*в яку сторонц посунути підменю*/
}

#nav li ul a {
  font-size: 18px; /* 20 */
  border-top: none;
  padding: 0; /* 15 (20) */
  text-align: left;
  height: 30px; /*висота кожного а*/
}

#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a {
  background-color: #EE9E69;
  color: white;
}

@media only screen and( max-width:991px){
  #nav {
    width: 100%;
    position: static;
    margin: 0;
    margin-left: -19%;
  }
}

@media only screen and (max-width: 960px){
  #nav {
    width: 100%;
    position: relative;
    margin: 0;
    margin-left: -10%;
    left: auto;
  }
}

@media only screen and ( max-width: 823px ) /* 1000 */ {
  #nav {
    width: 100%;
    position: relative;
    margin: 0;
    margin-left: -5%;
  }
}

@media only screen and ( max-width: 640px ) /* 640 */ {
  html {
  font-size: 12px;
  } /* 12 */
  #nav {
  position: relative;
  top: auto;
  }
  #nav > a { /*кнопка що зявляється*/
  width: 50px; /* 50 */
  height: 50px; /* 50 */
  text-align: left;
  text-indent: -9999px;
  background-color: #EE9E69;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  #nav > a:before, #nav > a:after {/*полоски на малій кнопці*/
  position: absolute;
  border: 2px solid #fff;
  top: 35%;
  left: 25%;
  right: 25%;
  content: '';
  }
  #nav > a:after {
  top: 60%;
  }
  #nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type {
  display: block;
  }
/* first level */
  #nav > ul {
  height: 200px; /*висота самого меню прихованого*/
  background: white;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  }
  #nav:target > ul {
  display: block;
  }
  #nav > ul > li {
  width: 100%;
  height: 40px;/*висота комірок в прих меню*/
  float: none;
  }
  #nav > ul > li > a {
  height: auto;
  height: 40px;/*висота шрифту*/
  text-align: left;
  padding: 0 0.833em; /* 20 (24) */
  }
  #nav > ul > li:not( :last-child ) > a {
  border-right: none;
  border-bottom: 1px dotted #E47450;
  }
/* second level */
  #nav li ul {
  display: none;
  }
  #nav li ul a{
    display: none;
  }
}

@media screen and (max-width: 1199px){
  #nav {
    width: 100%;
    position: relative;
    margin: 0;
    margin-left: 1%;
  }
}

@media screen and (max-width: 1100px){
  #nav {
    width: 100%;
    position: relative;
    margin: 0;
    margin-left: 0;
  }
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  padding: 0;
  margin-top: 0;
  position: relative;
  padding-top: 3.5%;
  background-color: white;
}

.middle:after {
  display: table;
  clear: both;
  content: '';
}

@media screen and (max-width: 1199px){
  .middle{
    padding-top: 0.5%;
  }
}

.middle .one {
  padding-top: 10px;
  border-top: 2px dotted #5D7274;
}

form h2 {
  color: #e47450;
}

form, form .row{
  padding: 0;
  margin: 0;
}

.forma3 {
  padding: 0;
  margin: 0;
}

 .forma3 .text-right p{
  padding: 10px 10px 0;
  margin: 0;
  font-size: 16px;
  
}

.forma1 .col-sm-4, .forma .col-sm-2, .forma .col-sm-1, .forma2 .col-sm-4, .forma3 .col-sm-6{
  padding: 10px 10px 0;
}

.forma3 .col-sm-3{
  padding: 10px 10px 0;
}

.forma4{
  position: relative;
  width: 100%;
  margin-top:10px; 
  margin-bottom: 10px;
}

.forma5{
  margin-bottom: 20px;
}

@media (max-width: 768px){
  iframe{
    width:100%;}
  .one h4{
    font-size: 14px;}
  p{
    font-size: 12px;}
  form h2 {
    font-size: 24px;
  }
}

@media (max-width: 1200px){
  iframe{
    width:100%;
  }
}

/* footer
-----------------------------------------------------------------------------*/
.footer {
  background: url(../images2/footer1.png);
  background-repeat: no-repeat;
  background-color: #BFF08E;/*додатковий колір світло зелений*/
  text-align: center;
  font-size: 150%;
}
.footer:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -2px;
  background: url(../images2/bg_edge4.png) repeat-x 0 0;
}

